
.project {
  margin-bottom: 40px;
  padding: 30px;
  background-color: var(--background-color);
  border-radius: 10px;
  transition: var(--transition);
}

.project:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.project h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: var(--text-color);
}

.project p {
  font-size: 1.1rem;
  color: var(--light-text-color);
}
